@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bg-primary: #0B0F0C;
    --bg-secondary: #111714;
    --card-bg: #151A16;
    --border-color: #1F2A23;
    --primary-green: #2bff00;
    --secondary-green: #6EDC3D;
    --terciary-green: #38961c;
    --text-primary: #F3F4F6;
    --text-secondary: #A1A1AA;
    --warning: #FFC857;
    --glass-bg: rgba(255,255,255,0.04);
    --green-glow:
        0 0 20px rgba(60, 255, 0, 0.15);
    --shadow-soft:
        0 10px 30px rgba(0,0,0,0.35);
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg-primary);
    color: var(--text-primary);
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background: var(--bg-secondary);
    border-right: 1px solid var(--border-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.logo{
    margin-bottom: 50px;
}

.logo h1{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    color: var(--text-primary);
}

.logo ion-icon{
    color: var(--primary-green);
    font-size: 28px;
    filter: drop-shadow(0 0 10px rgba(158,255,0,0.5));
}

.logo span{
    color: var(--text-secondary);
    font-size: 14px;
    margin-top: 6px;
    display: block;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 16px;
    border-radius: 14px;
    text-decoration: none;
    color: var(--text-secondary);
    transition: 0.3s ease;
}

.menu-item:hover{
    background: rgba(67, 109, 0, 0.075);
    color: var(--primary-green);
    box-shadow: var(--border-color);
}

.menu-item.active{
    background: rgba(158,255,0,0.12);
    color: var(--primary-green);
    border: 1px solid rgba(158,255,0,0.15);
}

.menu-item ion-icon{
    font-size: 22px;
}

.main-content{
    margin-left: 260px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    border-bottom: 1px solid var(--border-color);
    background: rgba(255,255,255,0.02);
    backdrop-filter: blur(10px);
}

.search-box{
    width: 350px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 18px;
    border-radius: 14px;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
}

.search-box ion-icon{
    color: var(--text-secondary);
    font-size: 20px;
}

.search-box input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-primary);
    font-size: 15px;
}

.topbar-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.notification-button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.notification-button:hover{
    color: var(--primary-green);
    box-shadow: var(--green-glow);
}

.profile{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    border-radius: 14px;
    background: var(--card-bg);
    border: 1px solid var(--border-color);
}

.profile ion-icon{
    font-size: 38px;
    color: var(--primary-green);
}

.profile div{
    display: flex;
    flex-direction: column;
}

.profile span{
    font-size: 13px;
    color: var(--text-secondary);
}

.dashboard{
    padding: 32px;
}

.welcome-card{
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 24px;
    padding: 32px;
    box-shadow: var(--shadow-soft);
}

.welcome-card h2{
    margin-bottom: 12px;
    font-size: 28px;
}

.welcome-card p{
    color: var(--text-secondary);
    line-height: 1.6;
}

@media(max-width: 900px){
    .sidebar{
        width: 90px;
    }

    .logo span,
    .menu-item span{
        display: none;
    }

    .main-content{
        margin-left: 90px;
    }

    .search-box{
        width: 220px;
    }
}

@media(max-width: 700px){
    .topbar{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .search-box{
        width: 100%;
    }

    .topbar-right{
        width: 100%;
        justify-content: space-between;
    }
}